<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your order has been confirmed.</h1>
    <h2>Details:</h2>
    <% @order.line_items.each do |it| %>
      <%= it.product.name %>
    <% end %>
  </body>
</html>