<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><h4><%= review.user.name %></h4></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= review.rating %> / 5</td>
        <td><%= review.description %></td>
      </tr>
    </tbody>
  </table>
</div>